.welcome-text {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .welcome-text {
        font-size: 1rem;
        margin: 15px 0;
    }
}

/* Adjust font size and spacing for mobile screens */
@media (max-width: 480px) {
    .welcome-text {
        font-size: 0.6rem;
        margin: 10px 0;
    }
}
