.campus-map-container {
    display: flex;
    height: 80vh;
    margin-top: 50px;
    border: black solid 3px;
}

.sidebar {
    width: 250px;
    background-color: lightblue;
    padding: 20px;
    overflow-y: auto;
    cursor:pointer;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar-list {
    list-style-type: none;
}

.sidebar-item, .category-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover, .category-item:hover {
    background-color: white;
}

.map {
    flex: 1;
    height: 100%;
}

.directions-button, .back-button {
    position: absolute;
    bottom: 20px;
    right: 60px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.directions-button:hover, .back-button:hover {
    background-color: #0056b3;
}
