.campus-map-container {
    display: flex;
    height: 70vh;
    margin-top: 150px;
    border: black solid 1px;
}

.sidebar {
    width: 30%;
    background-color: lightblue;
    padding: 10px;
    cursor:pointer;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar-list {
    list-style-type: none;
}

.sidebar-item, .category-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover, .category-item:hover {
    background-color: white;
}

.map {
    flex: 1;
    height: 100%;
}

.directions-button, .back-button {
    position: absolute;
    bottom: 20px;
    right: 60px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.directions-button:hover, .back-button:hover {
    background-color: #0056b3;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media only screen and (min-width: 768px) {
    .campus-map-container {
        display: flex;
        height: 50vh;
        margin-top: 150px;
        border: black solid 1px;
    }
}

@media only screen and (min-width: 1025px) {
    .campus-map-container {
        display: flex;
        height: 70vh;
        margin-top: 150px;
        border: black solid 1px;
    }
}
