.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid #e2e8f0;
  padding: 32px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.auth__form label {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.auth__form input {
  padding: 4px 12px;
  border-radius: 1000px;
  border: 1px solid #e2e8f0;
  font-size: 18px;
  margin-top: 6px;
  width: 300px;
}

@media (max-width: 450px) {
  body {
    margin: 0 7.5% 0 7.5%;
  }
  .auth_form {
    width: 100%;
  }
  .auth__form input {
    width: 90%;
  }
}

.auth__form input::placeholder {
  color: #cbd5e1;
}

.auth__register {
  margin-top: 12px;
  font-size: 14px;
}
