#calculator-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-course {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.create-course input {
  height: 43px;
  width: 200px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  font-size: 17px;
  padding-left: 10px;
  outline: none;
}

.create-course button {
  background-color: white;
  border: none;
  width: 30px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 0px 3px 3px 0px;
}

.header h1 {
  font-size: 39px;
}

.overall-grade {
  background-color: var(--secondary-color);
  margin-top: 3%;
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 3%;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}