.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: white;
    border-radius: 5px;

    font-weight: 500;
}

.todo-list-item-complete {
    text-decoration: line-through;
}