.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: white;
    border-radius: 5px;

    font-weight: 500;

    overflow: hidden; /* Ensure the content does not overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
    flex-grow: 1;
}

.todo-list-item-complete {
    text-decoration: line-through;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .todo-list-item {
        align-items: center;
        width: 90%;
        padding: 1rem;
    }
}