:root {
    --background: #E5ECED;
    --primary-color: #8DDBE0;
    --secondary-color: #9bc4bc;
}

body {
    font-family: 'Poppins', sans-serif, 'Verdana', 'Arial';
    background-color: var(--background);

    margin: 0 20% 0 20%;
}

input {
    font-family: inherit;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s;

    font-family: inherit;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.avatar {
    position: absolute;
    top: 24px;
    right: 24px;
}