// Navigation panel styles
.menu {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: rgb(208, 236, 255);
  color: white;

  // Navigation panel content styles
  .body {
    padding: 100px;
    display: flex;
    justify-content: space-between;

    // Navigation panel link styles
    .nav {
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      margin-top: 80px;

      // header styles
      .header {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px;
      }

      a {
        text-decoration: none;
        color: rgb(39, 39, 39);
        font-weight: 300;
      }
    }
  }
}
