/* Overlay for modal, covering the entire screen with a semi-transparent background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's on top of other elements */
}

/* Content box for the modal, centered on the screen */
.modal-content {
  background-color: var(--secondary-color);
  padding: 2em;
  margin: 0 10% 0 10%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

@media (max-width: 600px) {
  .modal-content {
    padding: 1em; /* Reduce padding */
    margin: 0 5%; /* Decrease horizontal margin */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
  }

  .modal-content h2 {
    font-size: 1.2em; /* Decrease font size for header */
  }

  .modal-content input[type="text"] {
    padding: 0.4em; /* Reduce padding in text input */
    font-size: 0.9em; /* Decrease font size */
  }
}

/* Header style within the modal content */
.modal-content h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

/* Style for the text input within the modal */
.modal-content input[type="text"] {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

/* Style for the color picker input within the modal */
.modal-content input[type="color"] {
  width: 80%;
  height: 100px;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* General button styles within the modal */
.modal-content button {
  padding: 0.75em 1.5em;
  margin: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  background-color: #3788d8;
  transition: background-color 0.3s ease;
}

/* Hover state for the primary button */
.modal-content button:hover {
  background-color: #2b6ba8;
}

/* Style for the cancel button within the modal */
.modal-content button:last-child {
  background-color: #ccc;
  color: #333;
}

/* Hover state for the cancel button */
.modal-content button:last-child:hover {
  background-color: #999;
}

/* Button group container with flex layout */
.button-group {
  display: flex;
  /* Enable flexbox */
  align-items: center;
  /* Center vertically */
  justify-content: flex-start;
  /* Align buttons to the left; change to center or space-between as needed */
  gap: 10px;
  /* Add space between the buttons */
}

/* Adjust the width of the timetable for smaller screens */
@media (max-width: 1920px) {
  body {
    margin: 0 max(calc(20% - 10vw), 10px) 0 max(calc(20% - 10vw), 10px);
  }
}

@media (max-width: 600px) {
  .title {
    margin: 5% 35px 5% 35px;
    font-size: 1.5rem;
  }

  .fc-toolbar-chunk {
    font-size: 12px;
  }
}

@media (max-width: 300px){
  .fc-toolbar-chunk {
    font-size: 10px;
  }
}
